@import 'styles/mixins';

.popup-page {
  width: 300px;

  &__controls {
    display: flex;
    flex-direction: column;
    
    > * {
      margin-top: 10px;
    }
  }

  &__reminders {
    margin-top: 10px;
  }
    
  &__reminders-header {
    border-bottom: 1px solid $c-primary;
  }
}
