@import 'styles/variables';

.transfer-filters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media screen and ($tablet) {
    flex-direction: row;
  }

  &__block {
    flex: 1 1 auto;
  }
}
