@import 'styles/variables';

.transfer-filters {
  &__blocks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and ($tablet) {
      flex-direction: row;
    }
  }

  &__block {
    flex: 1 1 auto;
  }

  &__clear {
    text-align: right;
  }
}
