@import './mixins';

.page {
  margin: 0 auto;
  max-width: 800px;
}

.form {
  &__section {
    margin-bottom: 20px;
  }

  &__section-label {
    font-weight: bold;
  }

  &__group {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    max-width: 150px;
  }

  &__field {
    border: 0;
    border-bottom: 1px solid $c-primary;
    outline: none;
  }

  &__submit {
    @include button;
  }
}

.status {
  border: 1px solid $c-success;
  color: $c-success;
  display: none;
  margin-top: 20px;
  padding: 10px 20px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .form {
    &__fields-group {
      display: flex;
      justify-content: space-between;
    }

    &__group {
      display: flex;
      flex-direction: column;
    }

    &__field {
      margin-top: 5px;
    }
  }
}
