@import './mixins';

button {
  @include button;
  margin: 5px 0;
  min-width: 200px;
}

.active-reminders {
  margin-top: 10px;

  &:not(:empty) {
    &::before {
      border-bottom: 1px solid $c-primary;
      content: 'Active reminders:';
      display: block;
      font-size: larger;
    }
  }

  &__player {
    margin-top: 5px;
  }

  &__player-link {
    color: #000;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__reminder {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__remove {
    @include button;
    min-width: auto;
    padding: 5px;
  }
}
