@import './mixins';

.action-button {
  @include button;
  margin: 5px 0;
  min-width: 200px;
}

.active-reminders {
  margin-top: 10px;

  &:not(:empty) {
    &::before {
      border-bottom: 1px solid $c-primary;
      content: 'Active reminders:';
      display: block;
      font-size: larger;
    }
  }
}
