@import 'styles/variables';

.skill-importance {
  &__header {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  &__position {
    font-weight: bold;
    margin-left: 20px;
  }

  &__message {
    color: $c-failure;
  }

  @media screen and ($tablet) {
    &__fields {
      display: flex;
      justify-content: space-between;
    }
  }
}
