@import 'styles/variables';

.skill-importance {
  &__position {
    font-weight: bold;
  }

  @media screen and ($tablet) {
    &__fields {
      display: flex;
      justify-content: space-between;
    }
  }
}
