@import '../../../scss/mixins';

.skill-importance-form {
  &__positions {
    > * {
      margin-bottom: 20px;
    }
  }

  &__message {
    border: 1px solid;
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;

    &--success {
      border-color: $c-success;
      color: $c-success;
    }
  
    &--error {
      border-color: $c-failure;
      color: $c-failure;
    }
  }
}
